/01_Inventarbereinigung_Literatur/
/02_Unique_Values/
/03_Dokumentation/
/04_Inventarbereinigung_py/Inventar_resource/
/04_Inventarbereinigung_py/Inventarbereinigung_results/
/04_Inventarbereinigung_py/Inventar_resource/
/04_Inventarbereinigung_py/Inventar_resource/gdb/
/04_Inventarbereinigung_py/Inventarbereinigung_script_archive/
/Inventar_bereinigt_BM2022/
